.card-flags {
  position: absolute;
  top: -9px;
  left: 15px;
}
.card-flag {
  width: 30px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
.fort-flag {
  position: absolute;
  top: 30px;
  left: 0;
  padding: 20px;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background: black;
}
.fort-flag img {
  max-width: 100%;
}
.ancestry-icon {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
}
.ancestry-image {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 85%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid black;
}
.ancestry-flag,
.equipment-flag {
  width: 30px;
}
.type-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  margin-top: -10px;
}
.card-flag svg {
  width: 100%;
  height: auto;
}
