.card {
    border: 7px solid #b33320;
    width: 320px;
    box-shadow: inset 0px 0px 0px 2px black;
}
.card-inner {
    box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.25);
    width: 100%;
    min-height: 200px;
    padding: 15px 30px;
    background-image: url(corner-ne.svg), url(corner-se.svg), url(corner-sw.svg);
    background-position: right 5px top 5px, right 5px bottom 5px, left 5px bottom 5px;
    background-size: 40px;
    background-repeat: no-repeat;
    position: relative;
    color: #b33320;
    font-size: 13px;
}
.card-flags {
    position: absolute;
    top: -7px;
    left: 15px;
}
.card-flags img {
    vertical-align: top;
    margin-right: 5px;
}
.card-top {
    padding-left: 70px;
    padding-top: 10px;
    min-height: 110px;
}
.card-main {
    padding-bottom: 15px;
}
.card-name {
    font-family: 'Domine', serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #df1314;
    font-size: 16px;
    border-bottom: 2px solid black;
    margin-bottom: 5px;
}
.card-type {
    font-family: 'Domine', serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}
.card-traits {
    font-family: 'Domine', serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #df1314;
    margin-top: 7px;
}
.card-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.card-table td {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: #df1314;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Cabin', sans-serif;
}
