.card {
  border: 7px solid #b33320;
  width: 320px;
  max-width: 100%;
  margin: 15px auto;
  text-align: left;
  position: relative;
}
.card-corner-ne {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
}
.card-corner-se {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 40px;
}
.card-corner-sw {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 40px;
}
.card-inner {
  box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
  border: 2px solid black;
  width: 100%;
  min-height: 200px;
  padding: 13px 28px;
  position: relative;
  color: #b33320;
  font-size: 13px;
}
.card-top {
  padding-left: 70px;
  padding-top: 10px;
  min-height: 90px;
}
.card-main {
  padding-bottom: 15px;
}
.card-name {
  font-family: 'Domine', serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #df1314;
  font-size: 16px;
  border-bottom: 2px solid black;
  margin-bottom: 5px;
}
.card-type {
  font-family: 'Domine', serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}
.card-traits {
  font-family: 'Domine', serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #df1314;
  margin-top: 7px;
}
.card-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 2px solid black;
}
.card-table td {
  border-bottom: 2px solid black;
  color: #df1314;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Cabin', sans-serif;
}
.card-cost {
  text-align: right;
  text-transform: uppercase;
}
