.stat-form {
  overflow: hidden;
  text-align: left;
  width: 330px;
  margin: 0 auto;
}
.form-control {
  width: 100%;
  float: left;
  padding: 5px;
}
.form-control label {
  font-size: 12px;
  color: #b33320;
  font-weight: 700;
}
.form-control input,
.form-control select {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .form-control {
    width: 50%;
  }
}
