body {
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.hf {
  font-family: 'Domine', serif;
  font-weight: 700;
}
